@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* font-family: 'Quicksand', sans-serif; */
/* font-family: 'Nunito', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-image: linear-gradient(to bottom, aliceblue, blanchedalmond);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

nav {
  background: teal;
  width: 100%;
  height: 5.5%;
  border-bottom: 3px double navajowhite;
  /* box-shadow: 0 3px 10px 2px silver; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
}

.navigation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
}

.navigation__brand {
  font-size: x-large;
  font-weight: 700;
  color: aliceblue;
  font-family: 'Quicksand', sans-serif;
  transition: 200ms;
}

.navigation__brand:hover {
  transform: translateY(-2%);
  color: snow;
  text-shadow: 1px 1px 5px blanchedalmond;
  text-shadow: 1px 1px 5px skyblue;
}

.navigation__links {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navigation__links__link {
  color: azure;
  transition: 200ms;
}

.navigation__links__link:hover {
  transform: translateY(-2%);
  color: snow;
  text-shadow: 1px 1px 5px blanchedalmond;
}

.home {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    background-image: url('../images/header.jpeg');
    width: 100%;
    /* height: 25vh; */
    /* background-position: 0 -16.5rem; */
    height: 50vh;
    background-position: 0 -11rem;
    background-size: cover;
    box-shadow: 0 2px 12px 2px dimgray;
    border-bottom: 2px solid rgb(182, 142, 119);
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-color: rgba(25, 53, 37, 0.299);
}

.search-box {
    /* background-color: rgb(49, 46, 76); */
    /* background-image: linear-gradient(to bottom, rgb(42, 33, 76), rgb(39, 36, 60)); */
    background-image: linear-gradient(to bottom, rgb(41, 32, 73), rgb(54, 36, 60));
    width: 50%;
    height: 35%;
    display: flex;
    position: absolute;
    top: 17.5rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 2% 0;
    border-radius: 5px;
    /* border: dotted 2px lime; */
    border: dotted 2px papayawhip;
    box-shadow: 0 2px 50px 10px dimgray;

}

.search-box__blurb {
    /* background-color: white; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

.search-box div h1 {
    color: deeppink;
    font-size: 2.5rem;
    text-shadow: 1px 1px 5px crimson;
}

.search-box div p {
    color: blanchedalmond;
    font-size: 1.5rem;
    font-weight: 300;
    text-shadow: 1px 1px 5px peachpuff;
}

.search-box__controls {
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 50%;
}

.search-box__controls input {
    width: 63%;
    height: 35%;
    font-size: large;
    font-weight: 700;
    color: lightgreen;
    text-shadow: 1px 2px 5px rgb(202, 25, 146);
    padding: 0 1%;
    border-radius: 4px;
    border: none;
    outline: 2px dotted limegreen;
    box-shadow: 0 0 2px 1px slategray;
    outline: none;
    background-color: hotpink;
    caret-color: lightgreen;

    transition: 200ms;
}

.search-box__controls input::placeholder {
    color: rgba(119, 241, 119, 0.792);
    text-shadow: 1px 2px 5px rgb(202, 25, 146);
}

.search-box__controls input:focus {
    box-shadow: 0 0 2px 1px papayawhip;
}

.search-box__controls__buttons {
    width: 32.5%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: pink; */
}

.search-box__controls__buttons__button {
    border-style: none;
    border-radius: 4px;
    /* padding: 4%; */
    width: 45%;
    height: 100%;
    font-size: 1.1rem;
    border-bottom: double 3px papayawhip;
    box-shadow: 0 0 1px 0px slategray;
    transition: 200ms;
}

.search-box__controls__buttons__button:hover {
    transform: translateY(-5%);
    box-shadow: 0 1px 4px 1px rgb(127, 117, 156);
    cursor: pointer;
}

#rent {
    background-color: rgb(226, 45, 81);
    color: papayawhip;
    transition: 200ms;
}

#rent:hover {
    background-color: papayawhip;
    color: crimson;
    border-bottom: double 3px crimson;
}

#sale {
    background-color: lightgreen;
    color: rgb(249, 87, 168);
    transition: 200ms;
    border-bottom: double 3px rgb(249, 87, 168);
}

#sale:hover {
    background-color: rgb(249, 87, 168);
    color: lightgreen;
    border-bottom: double 3px lightgreen;
}